<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CoreWar</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body id="MainPage" data-spy="scroll" data-target=".navbar" data-offset="60">

		<!-- Navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavOpt">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#MainPage">
						CoreWar
						<img src="" alt="">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="NavOpt">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#What">WHAT</a></li>
						<li><a href="#How">HOW</a></li>
						<li><a href="#Play">PLAY</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Front -->
		<div class="jumbotron text-center">
			<h1>CoreWar</h1>
			<h2>In core we trust.</h2>
		</div>

		<!-- Container Fluid : What -->
		<div id="What" class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<h2 class="bild">What's the CoreWar ?</h2>
					<h3 style="font-family: 'Oswald', sans-serif">
						It's on of the first programming game where Warriors are fighting together in the arena !
						Created in 1984 by D.G.Jones and J.K.Dewdney this game let programmer create warriors in RedCode !
					</h3>
				</div>
				<div class="col-sm-3">
						<span id="big-glyph" class="glyphicon glyphicon-search" style="vertical-align:middle"></span>
				</div>
				<div class="col-sm-5">
					<h2 class="bild">How it's work ?</h2>
					<h3 style="font-family: 'Oswald', sans-serif">
						Warriors and Arena are as you certainly know virtuals :-(<br>The arena is a virtual ram and Warriors are RedCode's written programs.
						Each program send live signal that mean that it's alive. When only one program send live signal that mean that he win.
					</h3>
				</div>
				<div class="text-center">
					<img src="images/core-war.png" class="img-responsive img-rounded margin" style="display:inline" alt="CoreWar"></div>
			</div>
		</div>

		<!-- Container Fluid : How -->
		<div id="How" class="container-fluid">
			<div class="row">
				<div class="col-sm-7">
					<h1 class="bild">How to play ?</h1>
					<p style="font: 25px 'Oswald', sans-serif">
						You have first to learn RedCode which is a pseudo assembly language.
						Then use your knowledge to make the best warrior that can defeat all his enemies !
						Then <a class="blue-link" href="#Play">Go to the section PLAY</a> create a lobby an invite all your programmer
						friends.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim massa vitae erat scelerisque,
						id viverra neque egestas. Vivamus arcu leo, pharetra ac dignissim ut, tempus ut turpis. Etiam ultricies dui
						nec ipsum ultricies, nec volutpat diam aliquet. Nunc ornare purus sit amet turpis hendrerit, ac viverra ipsum
						interdum. Nunc sed suscipit tellus. Curabitur lacinia, sapien sed laoreet tristique, lectus dui bibendum magna,
						eget euismod est neque fermentum nisi. Integer in vestibulum justo. Morbi ac ligula sit amet mauris tempor viverra
						id id neque. In a sem rhoncus, laoreet augue faucibus, facilisis lacus. Vestibulum bibendum eros vitae sapien mattis tempus.
					</p>
				</div>
				<div class="col-sm-5">
					<img id="Robot" class="img-responsive img-circle center-block" src="images/Robot.jpg" alt="Robot" width="350" height="350">
				</div>
			</div>
		</div>

		<!-- Container Fluid : Play -->
		<div id="Play" class="container-fluid">
			<div class="row text-center">
				<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<h1 class="play">Play here !</h1>
						<form method="post" action="/lobby" id="form_lobby">
	<!--						<div class="input-group input-group-lg">
  								<span class="input-group-addon color-blue" id="sizing-addon1">Game Name:</span> -->
  							<input type="text" class="form-control" placeholder="XxXArenaXxX69" name="suce" aria-describedby="sizing-addon1">
								<!--
							</div>
							<br>
							-->
							<button id="play-button" type="submit" form="form_lobby">Play !</button>
						</form>
					</div>
				<div class="col-sm-2"></div>
			</div>
		</div>

		<!-- container-fluid: End -->
			<footer id="End" class="container-fluid text-center">
				<a href="#MainPage"><span id="little-glyph" class="glyphicon glyphicon-chevron-up"></span></a>
				<p class="text-left">Copyright:	 Thomas  Lucas  Quentin  <a href="https://github.com/Afourcat">Alex</a></p>
			</footer>

		<!-- Scripts: Animation, jquery, bootstrap -->
  		<script src="scripts/slide.js" type="text/javascript"></script>
		</body>
</html>
