<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CoreWar</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			const socket = io.connect('/lobby');

			$(document).ready(function () {
				socket.on('lobby-name', function(name) {
					$('#Name').html(name);
				});
			});

			function emitAll() {
				var ollo = ["war0", "war1", "war2", "war3"];

				for (var value of ollo) {
					console.log("Enit", value);
					emit(value);
				}
				window.location.replace("http://localhost:3000/combat");
			}

			function emit(id) {
				var file = document.getElementById(id);
			
				console.log(file);
				if (file) {
					if (file.files.length) {
						var reader = new FileReader();
						reader.onload = function (elem) {
							socket.emit('input-file', elem.target.result);
						};
					}	
					reader.readAsBinaryString(file.files[0]);
				}
			}

		</script>
	</head>
	<body id="MainPage" data-spy="scroll" data-target=".navbar" data-offset="60">

		<!-- Front -->
		<div class="jumbotron text-center">
			<h1 id="Name"></h1>
			<h2>In core we trust.</h2>
		</div>
	
		<form id="browser-file" enctype="multipart/form-data" onsubmit="return false;">
			<input type="file" id="war0" name="warrior0" placeholder="XtremAtor" multiple="multiple">
			<input type="file" id="war1" name="warrior1" placeholder="Gogolito2000xX" multiple="multiple">
			<input type="file" id="war2" name="warrior2" placeholder="Nicollex/T3Rm1N4Tor" multiple="multiple">
			<input type="file" id="war3" name="warrior3" placeholder="MrPopo" multiple="multiple">
			<button id="blue-button" type="submit" onclick="emitAll()" form="browser-file">Start !</button>
		</form>
		<!-- container-fluid: End -->
			<footer id="footer-end" class="container-fluid text-center">
				<a href="#MainPage"><span id="little-glyph" class="glyphicon glyphicon-chevron-up"></span></a>
				<p class="text-left">Copyright:	 <a href="http://github.com/nwmqpa">Thomas</a>  Lucas  Quentin  <a href="https://github.com/Afourcat">Alex</a></p>
			</footer>

		</body>
</html>